@media(max-width:1095px){
    .btn-grp{
        padding: 0;

    }

}
@media(max-width:1226px){
    .nav-bar-elements{
        gap: 0px;
       /* padding-right: 50px; */
    }
    .nav-bar{
        gap: 20px;

    }
    .btn-grp{
        gap:20px ;
    }

}
@media(max-width:1231px){
.product_card_sec{
grid-template-columns:repeat(2,1fr);

}

}
@media(max-width:1337px){
    .nav-bar-elements{
    /* padding-right: 50px; */

}
}

@media (max-width:869px){

    .nav-bar ,.Signup-btn {
        display: none;
    }
    .collaborate-btn{
        justify-content: space-between;
        flex: 1;
    }
    .nav-bar-elements{
        justify-content: end;
      }

}
@media(max-width:890px){
    .subject{
       
        text-align: center;
    }

}

@media ( max-width:1092px){

    .hero{
        align-items: center;
        flex-direction: column;
    }
    .image-section{
        /* display: none; */
        flex-direction: row;
    
     }
     .section-stastics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 50px 0px 50px 0px;  
     }
     .sectionstastics-tittle{
        padding: 50px 0px 50px 0px;  
        align-items: center;
        display: flex;
        flex-direction: column;
        

     }
     .sub{
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .section-image{
        display: none;  
    }   
    .hero-section{
        align-items: center;
        justify-content: center;

    }
    .cardssection{
        grid-template-columns:repeat(2,1fr);
    
    }
    .product_card_sec{
        padding-left: 89px;
    }
    .Redline{
        align-items: center;
        justify-content: center;

    }

}
   
@media (max-width:1000px){
   .btn-grp{
    gap: 10px;

   }

}

@media(max-width:1230px){
   .product_card_sec{
flex-direction: row;
    }

}
@media (max-width:698px) {
        .cardssection {
            gap: 50px;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
          
    }
            .image-section{
                width: fit-content;
                height: auto;
               
            }
    }
    
@media (max-width:1095px){

   .product_card_sec{
    align-items: center;
    justify-content: center;
}
.Main-cmn-title {
align-items: center;
justify-content: center;
}
.product-title{
    align-items: center;
    justify-content: center;
}
}

@media(max-width:888){
    .cmn-header{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .product-title{
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .cmn-para{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .pricing-box{
    flex-direction: column;
    max-width: 27%;
    }
    .experts-adpage{
        flex-direction: column;
        gap: 20px;
    }
    .final{
        grid-template-columns: repeat(2, 1fr)

    }
    .final-page{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .cmn-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    }
   
}

@media(max-width:882px){
    .pricing-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 50;
        gap: 50px;
        /* justify-content: center; */
        /* align-items: center; */
        justify-items: center;
        
    }

}
@media(max-width:735px){
    .product-title{
        text-align: center;
    }
}
@media(max-width:670px){
    .experts-adpage{
flex-direction: column;
    }
}
    @media(max-width:900px){
        .final{
            grid-template-columns: repeat(2,1fr);
        
        }
        .Final{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .signature-section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .final-para{
            text-align: center;
        }
    }
    @media(max-width:520px){
        .final{
            grid-template-columns: repeat(1,1fr);
            text-align: center;
          
        }
        .types-social{
          justify-content: center;
        }

    }
    /* ...................mobile view ........................*/
    @media(max-width:510px){
    .collaborate-btn{
        padding: 15px 10px 15px 10px;
    }
    .subject {
        font-size: 49px;
        line-height: 49px;
    }
    .btn-grp {
        flex-direction: column;
    }
    .image-section {
        width: 100%;
    }
    .cmn-para{
       text-align: center;
    }
    
}

@media(max-width:441px){
    .collaborate-btn{
        padding: 10px 10px 10px 10px;
        gap: 10px;

    }
    .Brand{
     font-size: 25px;
    }
}
@media(max-width:385px){
    .collaborate-btn{
        padding: 8px 8px 8px 8px;
        gap: 10px;
    }
    .Brand{
     font-size: 22px;
    }
}
@media(max-width:400px){
    .subject{
        font-size: 39px;
    }
    .section-para{
    align-items: center;
    text-align: center;
    }
    .sectionstastics-para{
    text-align: center;
    max-width: 275px;
        }
    .headline{
    text-align: center;
    display: flex;
    align-items: center;
    }
.cmn-header{
    max-width: 320px;
    text-align: center;
}
.experts-title {
font-size: 27px;
}
.cmn-para {
    text-align: center;
    max-width: 292px;
}
.updated {
    right: -8px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.latest-updated {
    font-size: x-large;
}
 .product_card_sec {
padding-left: 25px;
}
}

@media(max-width:350px){
    .collaborate-btn{
        padding: 5px 5px 5px 5px;
        font-size: small;
        gap: 10px;
    }
}