@media(max-width:1226px){
    .nav-bar-elements{
        gap: 0px;
    }
    .nav-bar{
        gap: 20px;
    }
    .btn-grp{
        gap:20px ;
    }  
}
@media(max-width:1095px){
    .btn-grp{
        padding: 0;
    }
    .sectionstastics-para{
        max-width: 440px;
    }
    .product_card_sec{
        grid-template-columns:repeat(2,1fr) ;
     } 
     .product-article{
        display: flex;
     } 
     .Main-cmn-title {
        align-items: center;
        justify-content: center;
        }
        .product-title{
        align-items: center;
        justify-content: center;
    }
    .hero{
        align-items: center;
        flex-direction: column;
    }
    .image-section{
        flex-direction: row;
     }
     .section-stastics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 50px 0px 50px 0px;  
     }
     .headline{
      text-align: center;
      justify-content: center;
      align-items: center;
     }
     .sectionstastics-tittle{
        padding: 50px 0px 50px 0px;  
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .sub{
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .section-image{
        display: none;  
    }   
    .hero-section{
        align-items: center;
        justify-content: center;
    }
    .cardssection{
        grid-template-columns:repeat(3,1fr);
    }
    .Redline{
        align-items: center;
        justify-content: center;
    }
   
}
@media(max-width:900px){
    
    /* .Final{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* .signature-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .final-para{
        /* text-align: center; */
    }
     .subject{
        text-align: center;
    }
    .cmn-header{
        text-align: center;
        justify-content: center;
        align-items: center;
        }
        .product-title{
        text-align: center;
        justify-content: center;
        align-items: center;
        }
        .cmn-para{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .experts-adpage{
            flex-direction: column;
            gap: 20px;
        }
        
        .final-page{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .cmn-header {
        text-align: center;
        justify-content: center;
        align-items: center;
        }
        .pricing-box{
            display: grid;
            gap: 50px;
            justify-items: center;  
        }
       
}
@media(max-width:810px){
    .pricing-box{
        grid-template-columns: 1fr;
    }
    .product-article{
        display: flex;
        flex-direction: column;
     }   
     .product-title{
        text-align: center;
    }
}

@media(max-width:670px){
    .experts-adpage{
flex-direction: column;
    }
    .pricing-box{
        grid-template-columns: 1fr;
    }
}
   
 /* @media(max-width:520px){
        /* .final{
            grid-template-columns: repeat(1,1fr);
            text-align: center;
        } */
        /* .types-social{
          justify-content: center;
        } */
      
    /* }  */
    /* ...................mobile view ........................*/
    @media(max-width:510px){
    .signin-btn{
        padding: 15px 10px 15px 10px;
    }
    .subject {
        font-size: 49px;
        line-height: 49px;
    }
    .image-section {
        width: 100%;
    }
    .cmn-para{
       text-align: center;
       padding-bottom: 50px;
    }
    .footer .final{
        grid-template-columns:1fr;
       }
       .signature-section{
        align-items: center;
        justify-content: center;
       }
       .FINAL{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }
}
@media(max-width:400px){
    .btn-grp{
        flex-direction: column;
    }
    .signin-btn{
        gap: 10px;
    } 
   .sectionstastics-para{
    max-width: 320px;
}
    .btn-fill{
        column-gap: 5px;
        padding: 10px;
    }
    .btn-border{
        padding: 15px 49px;
    }
    .cards-content-total .btn-grp{
        align-items: flex-start;
    }
    .headline{
        font-size: 30px;
    }
    .product-explore-btn{
        flex-direction: column;
    }
    .subject{
        font-size: 39px;
    }
    .section-para{
    align-items: center;
    text-align: center;
    }
    .sectionstastics-para{
    text-align: center;
    max-width: 350px;
    }
    .headline{
    text-align: center;
    display: flex;
    align-items: center;
    }
.cmn-header{
    max-width: 320px;
    text-align: center;
}
.experts-title {
font-size: 27px;
}
.cmn-para {
    text-align: center;
    max-width: 292px;
    padding-bottom: 35px;
}
.updated {
    right: -8px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.latest-updated {
    font-size: x-large;
}
.pricing-btn{
padding: 6px 30px;
}
}
 
@media(max-width:869px){
    label .Hamburger{
        display: block;
        }
    .nav-bar {
        display: flex;
        flex-direction: row;
        /* align-items: center;
        justify-content: center; */
        position: fixed;
        visibility: hidden;
        flex-direction: column;
        background-color: #23A6F0 !important;
        color: var(--white);
        left:-100%;
        width: 50%;
        top: 51px;
        padding: 8px;
        height: calc(100vh - 65px);
        overflow-y: scroll;
        transition: all ease-in-out 0.7s;
    }
    #check:checked ~ .nav-bar-elements .nav-bar{
        visibility: visible;
        left: 0px; 
    }
    #checkbtn:checked ~ .dropdown{
        visibility: visible;
        left: 0px;
        top: 5px;
        padding: 4px;
        position: relative;
    }
    #clickbtn:checked ~ .dropdown{
        visibility: visible;
        left: 0px;
        top: 5px;
        padding: 4px;
        position: relative;
    }
    .section-nav{
        padding: 10px 0px;
    }
    .bg_color{
        position: sticky;
        z-index: 2;
        top: 0px;
    }
  
    .Signup-btn {
        display: none;
    }
    .signin-btn{
        justify-content: space-between;
        flex: 1;
    }
    .nav-bar-elements{
        justify-content: end;
      }
      .btn-login{
        display: none;
      }
      .btn-aft{
        display: block;
      }
      .btn-fill{
        padding: 11px;
      }
}
@media(min-width:869px){
    .menu:hover .dropdown {
        visibility: visible;
        transition: all ease-in-out 0.2s;
        margin-top: -10px;
        }
        
}
@media(max-width:450px){
.sectionstastics-tittle {
    padding: 0;
    margin: 0;
}
.section-stastics{
    padding: 30px;
    margin: 0;
}
.Main-cmn-title{
    padding: 0;
    margin: 0;
    gap: 0;
}  
.section-pricing{
    padding: 10px;
    margin: 0;
    gap: 0; 
}
.footer-featured{
    padding: 10px;
    margin: 0;
    gap: 0;  
}
.pink{
    height: 463px;
} 
.designation {
    padding-bottom: 50px;
}
.sectionstastics-para{
    max-width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
}
}
@media(max-width:403px){
  .Signupn-btn{
    display: block;
    color: antiquewhite;
    font-size: 14px;
    background-color: var(#23A6F0);
    border-radius: 5px;
    font-weight: 600;
    border: none;
    height: 25px;
    max-width: 104%;
    width: 140px;
  }
  .collaboraten-btn{
    display: block;
    color: antiquewhite;
    font-size: 14px;
    border: none;
    background-color: var(#23A6F0);
    border-radius: 5px;
    font-weight: 700;
    height: 25px;
    max-width: 104%;
    width: 140px;
  }
  .bten-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: antiquewhite;
  }
  .Brand{
    font-size:22px ;
}
}
@media(max-width:768px){
.final-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-aft{
    display: flex;
}
.btn-login{
    display: none;
}
}
@media(max-width:436px){
    .experts-title{
    align-items: center;
    text-align: center;
}
}
@media(max-width:698px){
    .total-cards{
        align-items: center;
        justify-content: center;
    }
    .product_card_sec{
        grid-template-columns: repeat(2,1fr);
    }
    .cardssection {
        gap: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;   
}
    .image-section{
        width: fit-content;
        height: auto; 
        }

}
@media(max-width:470px){
    .product_card_sec{
        grid-template-columns: 1fr;
}
}
@media (max-width: 955px) {
    .cardssection {
        grid-column-gap: 0px;
    }
    .final{
        grid-template-columns: repeat(2,1fr);
    }
    .signature-section{
        align-items: center;
        justify-content: center;
       }
       .FINAL{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }
       .final-para{
        text-align: center;
       }

    
}